.env
.idea
node_modules
build
npm-debug.log
.DS_Store
/build
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
Backend/node_modules
frontend-svelte/node-modules
frontend-svelte/.svelte-kit
*.log
Backend/logs/app.log
