@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

/* Set background properties for the container */
body::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%; /* Adjust the width to account for the padding */
  height: 100%;
  background-image: url("src/lib/images/bottleskyline.svg");
  background-repeat: repeat-x;
  background-position: right 10% bottom -10px;
  background-size: auto 12%;
  z-index: -1; /* Ensure the background stays behind other content */
}
